.mapContainer [class*="copyrights-pane"] {
  display: none !important;
}
.map {
  height: 400px;
  width: 400px;
}
table {
  background: white;
  width: 100%;
}
table button {
  margin: 0;
}

/* .mapContainer [class="ymaps-2-1-79-route-panel__inputs"] {
  height: 300px;
  width: 300px;
} */
