.profileContainer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(360deg, #211f20 0%, #44403f 100%);
    color: white;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;   
}

.mainContent {
    text-align: center;
    width: 1100px;
    margin: auto;
    margin-top: 50px;

}

.sidebar {
    /* background-color: red; */
    width: 500px;
    
}

.sidebar ul {
    list-style-type: none;
    font-size: 30px;
}

.sidebar li {
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    width: 300px;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}

.sidebar li:hover {
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  
}

.sidebar img {
    width: 200px;
    border-radius: 20px;
}

.avatarContainer {
    margin-top: 70px;
    text-align: center;
}




