.menuContainer {
    margin-top: 20px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;   
}

.addCard button {
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    color: white;
    width: 500px;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #e5e5e5;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
}

.card button {
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    height: 44px;
    width: 150px;
    left: 172px;
    top: 323px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.btnContainer {
    text-align: center;
}

