.moreBlock {
    display: flex;
}

.moreBtn {
    width: 60%;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;

   
    margin: 15px auto;
    padding: 10px;
}

.hide {
    display: none;
}