.cafe_card{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 24px 44px;
    margin: 24px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    background: linear-gradient(270.7deg, #44403F 0.4%, #353232 41.83%, #211F20 100%);
    box-shadow: 0 4px 8px 0 rgb(132, 61, 61);
    color: white;
}

.image {
    width: 10%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.615);
}

.image img {
    width: 100%;
    height: auto;
}

.name {
    width: 85%;
    margin-left: 15px;
}
h5{
    font-size: 15px;
    font-style: oblique;
    font-weight: 300;
}