::-webkit-scrollbar {
    display: none;
  }


.messenger {
    background-color: white;
    width: 500px;
    margin: auto;
    height: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.chatMenu {
    flex: 1;
    border-right: 1px solid rgba(128, 128, 128, 0.411);
    
}

.chatBox {
    padding: 15px 15px;
    width: 410px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.EmptyWrapper {
    height: 100%;
}

.chatBoxTop {
    height: 600px;
    width: 100%;
    overflow-y: scroll;
}


.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
}

.chatMessageInput {
    width: 100%;
    height: 90px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.chatSubmitButton {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    color: white;
    margin-left: 18px;
}
.chatMenuWrapper, .chatBoxWrapper {
    color: black;
    height: 100px;
}

.Chat {
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}


.noConversationText {
    text-align: center;
    margin-top: 30%;
    font-size: 30px;
    color: rgb(161, 161, 161);
}
