.fullCardPage {
    width: 1272px;
    margin: 40px auto;
}

.gradientLine {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #7d7c7c 0%, #44403F 50%);
}

.turnBack {
    display: flex;
    align-items: center;
    width: 1210px;
    margin: 25px auto;
}

.turnBack p {
    margin: 0 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.backBtn {
    width: 26px;
    height: 26px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    line-height: 23px;
    font-size: 30px;
    text-align: center;
}

.fullCardBlock {
    display: flex;
    width: 1210px;
    margin: auto;
    height: 399px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    overflow: hidden;
}

.fullCardImg {
    width: auto;
}

.fullCardImg img {
    height: 100%;
}

.fullCardInfo {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullCardInfo h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}

.fullCardInfo p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #CFCFCF;
    margin: 0%;
}

.cartInfo {
    margin-top:150px;
    display: flex;
    align-items: center;
}

.cartBtn {
    display: flex;
    align-items: center;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    margin-right: 25px;
    padding: 10px 0;
}

.cartBtn p {
    padding: 0 20px;
    border-right: 1px solid white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.cartBtn img {
    width: 18px;
    height: 18px;
    margin: 0 15px;
}

.cartPrice p {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}