.message {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 20px;
}

.messageTop {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.messageImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(106, 161, 114);
    color: white;
    max-width: 200px;
    text-align: justify;
    margin: 0;
}

.messageBottom {
    margin: 0;
    padding: 0 0 0 43px;
    font-size: 12px;
    text-align: left;
    color: rgb(141, 141, 141);
}

.message.own {
    align-items: flex-end;

}

.message.own .messageText {
    background-color: rgb(240, 240, 240);
    color: black;
}